<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/4c0b5ceb-32ba-4700-93f4-f119e59160ba/resourcegroups/sandbox/providers/Microsoft.Web/sites/capWebApp02</ResourceId>
    <ContainerResourceId>/subscriptions/4c0b5ceb-32ba-4700-93f4-f119e59160ba/resourceGroups/sandbox/providers/Microsoft.ContainerRegistry/registries/registry20180412094641</ContainerResourceId>
    <ContainerResourceName>registry20180412094641</ContainerResourceName>
    <ResourceGroup>sandbox</ResourceGroup>
    <Subscription>Visual Studio Enterprise</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20180412094641.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://capwebapp02.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>79db48de-3404-4aef-b50b-33dce6f1e3df</ProjectGuid>
  </PropertyGroup>
</Project>